body{
background-color: black;

}

h1{
color: aquamarine;
}
p{
    color: aquamarine;
}

/* #p1{color: brown;}
#p2{color: blueviolet;}
#p3{color: chocolate;}
#p4{color: crimson;}*/

.tek{
    color: crimson;
}
.çift{color: darkorchid;}
